@media screen and (max-width:1300px) {
    .local_data_container {
        flex-direction: column;
    }

    .local_data_container label {
        text-align: center;
    }

    .label_valor {
        font-size: 12pt;
    }

    .input_login {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1199px) {
    .cards_rifa_container {
        width: calc(58vw + 30px);
        min-width: 610px;
        padding: 0;
    }
}

@media screen and (max-width: 1170px) {
    .lista_numeros_container {
        flex-direction: column;
        min-height: 169px;
    }

    .lista_numeros_label_container {
        padding: 10px;
    }

    .infos_local_data_container {
        bottom: -20%;
    }
}

@media screen and (max-width: 1110px) {

    .qnt_numeros_prvacidade_container,
    .premio_imagem_container {
        flex-direction: column;
    }

    .input_login {
        font-size: 1em;
    }

    .qnt_numeros_prvacidade_container label,
    .premio_imagem_container label {
        text-align: center;
    }

    .btn_carregar_imagem {
        margin-right: 0;
    }

    /* 
    .lista_privacidade{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-right: 0;
        align-items: center;
    } */

    .label_login {
        text-align: center;
    }
}

@media screen and (max-width: 1080px) {
    .numero_sorteado_container {
        left: 28vw;
    }
}

@media screen and (max-width: 1050px) {
    .card_dourado {
        margin-right: 10%;
    }

    h3 {
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {
    /* #menu_rifas_compradas {
        left: calc(50vw - 250px);
    } */
}

@media screen and (max-width: 950px) {
    #numero_sorteio{
        width: 40%;
    }
}

@media screen and (max-width: 900px) {
    .label_valor {
        font-size: 9pt;
    }
}

@media screen and (max-width: 870px) {
    .ul_nav.nav {
        gap: 15px;
    }

    .infos_local_data_container {
        gap: 3px;
        padding: 0;
    }

    .infos_local_data p {
        font-size: .8em;
    }

    /* .lista_numeros_container{
        min-height: 100px;
    } */
}

@media screen and (max-width: 840px) {
    .legenda_footer {
        font-size: .7em;
    }

    #footer_content {
        gap: 10px;
    }
}

@media screen and (max-width: 820px) {
    .img_vantagens {
        height: 40px;
    }

    h3 {
        font-size: .9em;
    }

    .legenda_diferencial {
        font-size: 10px;
    }

    .legenda_footer {
        font-size: .6em;
        width: 70%;
    }

    .espaco_compradores {
        width: 100%;
        border-radius: 10px;
    }

    .numero_sorteado_container {
        left: 25vw;
    }
}

@media screen and (max-width: 790px) {
    .ul_nav.nav {
        gap: 10px;
    }

    .nav_links {
        font-size: 1em;
    }
}

@media screen and (max-width: 750px) {
    #menu_rifas_compradas {
        height: auto;
        max-height: 400px;
        min-height: 100px;
        min-width: 223px;
        width: 35%;
        /* width: 262.5px; */
        overflow-x: hidden;
        overflow-y: auto;
        justify-content: center;
        padding: 10px;
        left: initial;
        /* right: 15%; */
        right: 112.5px;
        top: 250px;
    }

    #roleta_sorteio_container{
        width: 80vw;
        right: 10vw;
    }

    #numero_sorteio{}

    .lista_rifas_compradas {
        flex-direction: column;
        gap: 10px;
    }

    .rifas_compradas {
        font-size: 12pt;
        height: 40px !important;
        width: 100%;
    }

    .menu_numeros_comprados {
        left: initial;
        right: 70%;
        /* right: 525px; */
        top: 260px;
        min-width: initial;
        width: 160px;
        height: 160px;
    }

    .lista_numeros_comprados {
        gap: 5px;
        padding: 5px;
    }

    .numero {
        width: 40px;
        height: 40px;
    }

    .numero_sorteado_container {
        left: initial;
        top: 430px;
        right: 70%;
        /* right: 525px; */
    }

    .article_footer p {
        font-size: .7em;
    }

    .form_rifa {
        min-width: 500px;
    }

    /* 
    .input_login {
        font-size: .8em;
    } */

    .btn_menu_hamburguer {
        top: 90px;
    }

    /* .cards_rifa_container {
        width: 100%;
    } */

    #footer_content {
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .legenda_footer {
        font-size: 8pt;
        width: 80%;
    }

    .btn_menu_hamburguer {
        display: block;
        top: 15px;
    }

    .ul_nav.nav,
    .login_sessao {
        display: none !important;
    }

    .btn_nav {
        font-size: 12pt;
    }

    .titulo {
        font-size: 20pt;
    }

    .card_dourado {
        display: none;
    }

    .titulo,
    .legenda_titulo {
        text-align: center;
    }

    .card_diferencial {
        width: 90%;
    }

    #cards_diferencial_container {
        flex-direction: column;
        gap: 20px;
    }

    #main {
        min-height: 40vh;
    }

    .label_lista_numeros {
        font-size: 16pt;
        text-align: center;
    }

    /* 
    .lista_numeros_container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        max-width: 166px;
    } */

    .container_btn_rifa {
        /* flex-direction: column; */
        gap: 10px;
    }

    .hero_content {
        align-items: center;
        width: 100%;
    }

    .legenda_titulo {
        max-width: 70%;
    }

    .btn_hero {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

    .btn_hero .btn_nav {
        text-align: center;
        padding: 15px 0;
        border-radius: 30px;
        width: 100%;
    }

    .valor_rifa {
        font-size: .9em;
    }

    .espaco_numeros {
        height: 300px;
    }

    .espaco_numeros.espaco_compradores {
        width: 95%;
        height: fit-content;
        max-height: 300px;
    }
}

@media screen and (max-width: 700px) {
    #popup_login {
        width: 80vw;
        left: 10vw;
    }
}

@media screen and (max-width: 685px) {
    .btns_sorteio_container {
        flex-direction: column-reverse;
        padding-inline: 40px;
        gap: 25px;
    }

    .btn_sorteio {
        width: 100%;
    }
}

@media screen and (max-width: 670px) {
    .valor_rifa {
        font-size: .8em;
    }
}

@media screen and (max-width: 650px) {
    .menu_numeros_comprados {
        /* right: 268px; */
        right: 182px;
        transform: translateX(-50%);
        /* right: 40%; */
        top: 300px;
    }

    .numero_sorteado_container {
        right: 275px;
        /* right: 182px; */
        top: 470px;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 630px) {
    .cards_rifa_container {
        min-width: 290px;
        width: 80%;
    }

    .rifas {
        width: 100%;
    }

    .btn_deletar {
        margin: 0 5px 5px 0;
    }
}

@media screen and (max-width: 600px) {
    .form_rifa {
        min-width: 400px;
    }

    label.label_login {
        font-size: 1em;
    }

    p.txt_secundario {
        font-size: .88em;
    }

    .legenda_sorteio {
        font-size: 12pt;
    }

    .popup_sorteio {
        min-height: none;
        height: fit-content;
        padding: 40px 0;
    }

    .sorteio_container {
        gap: 40px;
    }

    #numero_sorteio{
        width: 60%;
    }
}

@media screen and (max-width: 590px) {
    .btn_add_usuario {
        width: 40px;
        left: 10px;
        top: 10px;
    }

    .lista_numeros_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .legenda_footer {
        font-size: .5em;
    }

    .li_footer {
        width: fit-content;
    }

    #footer_content {
        gap: 0;
    }

    input.input_login {
        height: 50px;
        font-size: 12.5pt;
    }

    div.required_cadastro {
        top: 63px;
    }

    .div_duplo_container {
        flex-direction: column;
    }

    .lista_privacidade {
        display: flex;
        gap: 20px;
    }

    .legenda_sorteio_container {
        width: 100%;
        padding: 25px;
        text-align: center;
    }

    .btns_sorteio_container {
        padding-inline: 10px;
    }

    .menu_hamburguer {
        width: 180px;
    }

    .nav_links {
        font-size: 12pt;
    }

    .lista_rifas_compradas {
        width: 100%;
    }

    .rifas_compradas {
        font-size: 10pt;
        min-width: 100%;
    }

    #menu_rifas_compradas {
        min-width: 180px;
        padding: 5px;
    }

    .menu_numeros_comprados {
        transform: translateX(-31.5%);
        width: 145px;
        height: 145px;
    }

    .numero_sorteado_container {
        width: 60px;
        height: 60px;
        top: 450px;
        right: 241px;
        /* transform: translateX(40%); */
    }

    .numero_sorteado_div {
        width: 50px;
        height: 50px;
        font-size: 16pt;
    }

    .numero {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 470px) {
    input.input_login {
        height: 40px;
        font-size: 10pt;
    }

    div.required_cadastro {
        top: 70px;
    }

    input.btn_form {
        width: 200px;
        font-size: 14pt;
        height: 50px;
    }

    #numero_de_letras {
        font-size: .9em;
        top: 75px;
    }

    .div_duplo_input {
        flex-direction: column;
        gap: 15px;
    }

    .container_btn_rifa {
        flex-direction: column;
    }

    .lista_numeros_usuario {
        min-height: 200px;
    }

    .btns_cadastrar_comprador {
        flex-direction: column-reverse;
        padding-inline: 10%;
    }

    .btn_cadastro {
        width: 100%;
    }

    .card_cadastro {
        width: 95vw;
        min-width: 310px;
    }
}

@media screen and (max-width: 440px) {
    .input_valor_container {
        gap: 0;
        width: 80%;
    }

    .label_login.label_valor {
        font-size: .8em;
    }

    .valor_container {
        width: 140px;
    }

    #popup_login {
        width: 90vw;
        left: 5vw;
        min-width: initial;
    }
}

@media screen and (max-width: 410px) {
    .espaco_compradores {
        width: 100%;
        padding: 10px;
    }

    .card_vendas {
        padding-inline: 2%;
    }

    .btn_menu_hamburguer,
    .menu_hamburguer {
        right: 10px;
    }

    #menu_rifas_compradas {
        right: 75px;
    }

    .menu_hamburguer {
        width: 150px;
        height: 250px;
        padding: 0;
    }

    .btn_nav {
        padding: 6px 15px;
    }

    .menu_numeros_comprados {
        right: 144px;
    }

    .numero_sorteado_container {
        right: 202px;
    }
}

@media screen and (max-width: 375px) {
    .espaco_compradores {
        width: 100%;
        padding: 10px;
    }

    .rifa_aberta {
        padding: 4px;
    }

    .card_comprados {
        min-width: 100%;
    }

    .infos_usuario_temp,
    .nome_usuario_temp {
        padding: 0;
        font-size: 12pt;
    }

    .label_usuario_temp {
        font-size: 13pt;
    }

    .label_numero_usuario_temp {
        font-size: 10pt;
    }
}

@media screen and (max-width: 370px) {
    #footer_content {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .li_footer {
        width: 80%;
        text-align: center;
    }

    .legenda_footer {
        text-align: center;
        width: 100%;
    }

    .input_usuario_temp {
        width: 50vw;
    }
}

@media screen and (max-width: 350px) {
    #menu_rifas_compradas {
        min-width: 170px;
    }

    .menu_numeros_comprados {
        right: 135px;
    }

    .numero_sorteado_container {
        right: 192px;
    }
}

@media screen and (max-width: 340px) {
    .input_valor_container {
        width: 290px;
    }

    #roleta_sorteio_container{
        width: 90vw;
        right: 5vw;
    }
}

@media screen and (max-width: 321px) {
    .lista_numeros_usuario {
        gap: 5px;
    }
}