@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

:root {
    --fonte-primaria: "Inter", sans-serif;
    --headlines: 700;
    --buttons: 600;
    --body-text: 500;

    --vermelho-primario: #FF3300;
    --amarelo-primario: #FFD700;
    --laranja-secundario: #FF6B35;
    --verde-suporte: #4CAF50;

    --fundo-principal: #fff;
    --fundo-sub: #F5F5F5;
    --azul-claro: #E3F2FD;
    --cinza-escuro: #212529;

    --texto-primario: #212529;
    --texto-secundario: #6C757D;
    --texto-link: #FF3300;

    --btn-hover: #E53900;
    --btn-cta: #FF3300;
    --btn-cta-hover: #E53900;
    --link-hover: #FF6B35;

    --azul-ceu: #4A90E2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@keyframes trocaNumeroSorteio{
    0%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1);
    }
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

#nav {
    background-color: var(--fundo-principal);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding-inline: 2vw;
    position: fixed;
    z-index: 1;
    top: 0;
}

.ul_nav {
    display: flex;
    gap: 30px;
}

.ul_nav li {
    list-style-type: none;
}

.nav_links {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--texto-primario);
    font-size: 14pt;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
}

.nav_links:hover {
    transform: scale(1.15);
}

.btn_nav {
    color: var(--fundo-principal);
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    background-color: var(--vermelho-primario);
    padding: 6px;
    padding-inline: 25px;
    font-size: 14pt;
    border-radius: 20px;
    cursor: pointer;
    max-width: 400px;
}

.logo {
    color: var(--vermelho-primario);
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-size: 20pt;
}


#hero {
    background-color: var(--azul-claro);
    width: 100%;
    height: 60vh;
    padding-inline: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10vh;
}

.titulo {
    color: var(--vermelho-primario);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 25pt;
}

p {
    font-family: var(--fonte-primaria);
    letter-spacing: 1px;
    font-size: 12pt;
    text-align: justify;
    width: 400px;
}

.white {
    background-color: #fff;
    color: var(--vermelho-primario);
    outline: 2px var(--vermelho-primario) solid;
}

.hero_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
}

.hero_content div {
    display: flex;
    gap: 30px;
}

#diferencial {
    background-color: var(--fundo-principal);
    padding: 20px 2vw;
    min-height: 40vh;
}

.subtitulo {
    color: var(--cinza-escuro);
    font-size: 25pt;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#cards_diferencial_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
}

.card_diferencial {
    background-color: var(--azul-claro);
    /* width: 24%; */
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 1px 1px 2px #000;
    /* flex-grow: 1; */
    width: 32%;
}

.card_diferencial h3 {
    font-family: var(--fonte-primaria);
    color: var(--cinza-escuro);
    text-align: center;
}

.card_diferencial p {
    text-align: center;
    font-size: 10pt;
    width: 90%;
}

#main {
    background-color: var(--azul-claro);
    /* padding-inline: 2vw; */
    padding-bottom: 40px;
    padding-top: 40px;
    /* height: fit-content; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_rifa_container {
    display: flex;
    justify-content: flex-start;
    /* justify-content: flex-start; */
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px 4vw 10px;
    width: 100vw;
    /* width: 59.5vw; */
    /* width: fit-content; */
    /* padding-inline: 1vw; */
    /* width: 100%; */
    /* width: fit-content; */
    /* align-content: center; */
}

.rifas {
    /* margin-bottom: 25px; */
    /* width: calc(33.333% - 30px); */
    /* min-width: 380px; */
    min-width: 290px;
    width: 29vw;
    height: 200px;
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    box-shadow: #000 1px 1px 5px;
}

.rifas_img{
    max-width: 90%;
    height: 100px;
}

.rifas_infos {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* width: fit-content; */
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 80px;
    overflow: hidden;
    padding-inline: 2vw;
    padding: .8vw;
}

.rifas_infos_container {
    /* width: 50%; */
    text-align: left;
}

.premio_rifa {
    font-weight: 700;
    color: var(--cinza-escuro);
    font-size: 12pt;
    text-transform: capitalize;
    width: fit-content;
}

.valor_rifa {
    font-weight: 700;
    color: var(--vermelho-primario);
    font-size: 14pt;
    text-transform: capitalize;
    width: fit-content;
}

#footer {
    background-color: var(--cinza-escuro);
    height: 30vh;
    padding-top: 50px;
    padding: 50px 20px 0 20px;
    max-width: 100vw;
}

html {
    overflow-x: hidden;
}

#footer_content {
    display: flex;
    justify-content: space-around;
}

.legenda_footer {
    color: #fff;
    /* width: fit-content; */
}

.li_footer {
    list-style-type: none;
    width: 40vw;
}

/* .article_footer { */
    /* width: 22vw;
    display: flex;
    justify-content: space-around; */
/* } */

.article_footer {
    width: 40%;
    /* height: 100%; */
}

.article_footer p {
    /* width: 18vw; */
    letter-spacing: 1px;
    line-height: 20px;
    width: 100%;
    height: 100%;
}

.article_footer p {
    color: #fff;
    font-size: 1em;
}

.img_vantagens {
    height: 50px;
}

.titulo_footer {
    color: var(--amarelo-primario);
    font-weight: 600;
    font-family: var(--fonte-primaria);
    font-size: 11pt;
}

.txt_secundario {
    color: var(--texto-secundario);
    font-size: 15pt;
    text-align: center;
}

.label_login {
    color: var(--cinza-escuro);
    font-size: 16pt;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
}

#body_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 500px;
    padding: 50px 0;
    gap: 15px;
}

.form_rifa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    /* width: 600px; */
    min-width: 600px;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.div_duplo_container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.input_login {
    background-color: var(--azul-claro);
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgba(66, 43, 43, 0.133);
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    width: 100%;
    max-width: 80vw;
    padding: 0 10px;
}

.btn_carregar_imagem {
    background-color: var(--azul-ceu);
    /* width: 100px; */
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

#label_img,
#label_privacidade {
    text-align: center;
}

.div_campo_login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* gap: 10px; */
    height: 120px;
    max-width: 80vw;
    width: 100%;
    position: relative;
}

.btn_form {
    height: 65px;
    border-radius: 10px;
    background-image: linear-gradient(-135deg, var(--vermelho-primario), orange);
    color: #fff;
    font-size: 16pt;
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    cursor: pointer;
    width: 80%;
    max-width: 70vw;
}

.txt_left {
    text-align: center;
}

.link {
    color: var(--vermelho-primario);
    text-decoration: none;
    font-weight: 700;
}

.btn_fechar {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    background-color: rgb(236, 36, 36);
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    border: 1px solid #000;
}

.btn_fechar:hover {
    transform: scale(1.1);
    font-size: 21pt;
}

.espaco_compradores {
    /* padding: 3%; */
    width: 80%;
    /* margin-bottom: 14vh; */
}

.espaco_numeros {
    background-color: var(--azul-claro);
    max-height: 400px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 15px;
    box-shadow: #000 1px 2px 3px;
    position: relative;
    min-height: 100px;
}

.espaco_vendas {
    padding: 20px;
}

.numero {
    background-color: #fff;
    width: 45px;
    height: 45px;
    list-style-type: none;
    border-radius: 5px;
    font-family: var(--fonte-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    box-shadow: #000 1px 2px 2px;
    cursor: pointer;
}

.numero_disponivel:hover {
    transform: scale(1.1);
}

.numero_selecionado {
    background-color: var(--vermelho-primario);
    transform: scale(1.1);
    border-radius: 1px;
}

.numero_vendido {
    background-color: #e91111ff;
    cursor: not-allowed;
}

.rifa_aberta {
    z-index: 3;
    display: none;
    position: fixed;
    bottom: calc(50% - 45vh);
    left: calc(50% - 45vw);
    width: 90vw;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-top: 60px;
    gap: 30px;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 
.rifa_aberta form {
    width: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
} */

.numeros_rifa_vendidos {
    display: none;
}

.numeros_rifa_disponiveis {
    position: absolute;
    visibility: hidden;
}

.lista_numeros_container {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 120px;
    width: 85%;
    min-height: 110px;
    overflow: hidden;
    /* max-height: 180px; */
    /* width: 70%; */
}

.lista_numeros_label_container{
    min-width: 30%;
    /* background-color: #4A90E2; */
}

.label_lista_numeros {
    font-weight: 600;
    font-size: 18pt;
    color: var(--cinza-escuro);
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    text-align: center;
}

.lista_numeros_usuario_container{
    overflow-y: scroll;
    height: 100%;
}

.lista_numeros_usuario {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
}

.numeros_usuario {
    list-style-type: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 16pt;
    color: var(--cinza-escuro);
    background-color: #FFF;
    /* padding: 10px; */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.container_btn_rifa {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 40px;
    justify-content: space-evenly;
}

.btn_nav:disabled {
    background-color: var(--texto-secundario);
    color: var(--azul-claro);
    cursor: not-allowed;
    outline: 0;
}

.input_valor_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    background-color: var(--azul-claro);
    height: 170px;
    width: 100%;
    border-radius: 20px;
    box-shadow: #000 1px 2px 3px;
}

.input_login:disabled {
    background-color: var(--texto-secundario) !important;
}

.lista_privacidade {
    height: 60px;
}

.lista_privacidade li {
    list-style-type: none;
    font-family: var(--fonte-primaria);
    font-size: 15pt;
}

.div_duplo_input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 60px; */
    width: 100%;
}

.btn_sorteio {
    width: 40%;
}

.div_duplo_input input:not([type=radio]) {
    min-width: 300px;
}

.btn_carregar_imagem:hover {
    transform: scale(1.05);
}

.tipo_de_valor {
    /* display: none; */
    height: 25px;
    width: 25px;
}

.input_valor {
    width: 80%;
}

.btn_radio {
    font-family: var(--fonte-primaria);
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    color: #FFF;
    border-radius: 5px;
    font-size: 15pt;
    font-weight: 500;
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
}

#valor_numeros,
#valor_total {
    background-color: #FFF;
}

#header_galeria {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_voltar {
    position: absolute;
    /* left: 40px; */
    left: 5%;
}

.btn_encerrar_venda {
    background-color: #F00;
    color: #FFF;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    padding: 15px;
    font-size: 15pt;
    border-radius: 5px;
    cursor: pointer;
}

.label_cadastro_rifa {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 14pt;
    padding-right: 24.5px;
}

#label_cadastro_telefone {
    padding-right: 0;
}

.card_cadastro {
    background-color: var(--azul-claro);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 250px;
    border: 2px solid #000;
    width: 50vw;
    min-width: 400px;
    border-radius: 20px;
    box-shadow: #000 1px 1px 2px;
    /* gap: 100px; */
    margin-bottom: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container_container_cadastro_temp {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.container_cadastro_usuarios_temp {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 50%;
}

.btn_cadastro {
    font-size: 12pt;
    padding-inline: 5px;
}

.input_usuario_temp {
    border-radius: 5px;
    font-size: 14pt;
    height: 40px;
    width: 230px;
    box-shadow: #000 1px 1px 2px;
    padding: 10px;
}

.btn_add_usuario {
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.label_usuario_temp {
    font-family: var(--fonte-primaria);
    font-size: 15pt;
    color: var(--texto-secundario);
}

.nome_usuario_temp {
    color: var(--cinza-escuro);
    background-color: transparent;
    font-size: 14pt;
    font-weight: 700;
    padding-left: 10px;
    border-radius: 5px;
    width: 60%;
}

.rifa_aberta {
    cursor: default;
}

.infos_usuario_temp {
    color: var(--cinza-escuro);
    background-color: transparent;
    font-size: 14pt;
    font-family: var(--fonte-primaria);
    padding-left: 10px;
    border-radius: 5px;
    width: 60%;
}

.cards_usuarios_temp_container {
    display: flex;
    flex-direction: column;
    background-color: #F00;
}

.card_dourado {
    background-image: linear-gradient(135deg, var(--amarelo-primario) 40%, var(--vermelho-primario));
    min-width: 170px;
    height: 40vh;
    width: 15vw;
    border-radius: 20px;
    margin-right: 20%;
    transform: rotate(5deg);
    box-shadow: #0008 2px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda_hero {
    color: #FFF;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #0008 1px 1px 2px;
}

.btn_hero {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.espaco_usuarios_temp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* height: 400px; */
    align-items: center;
    overflow-y: scroll;
    /* background-color: #000 !important; */
}

.card_comprados {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    max-width: 70vw;
    width: 400px;
    background-color: transparent;
}

.card_vendas {
    height: 250px;
    display: flex;
    padding-inline: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: #000 1px 2px 2px;
    width: 100%;
    overflow: hidden;
}

.label_login.login {
    text-align: center;
}

.usuario_temp_container {
    display: flex;
    border-bottom: 1px solid var(--texto-secundario);
    height: 55px;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
    /* width: 100%; */
}

.btn_add_numeros {
    color: #FFF;
    background-color: var(--azul-ceu);
    font-weight: 700;
    border-radius: 5px;
    padding: 3px;
    font-size: 11pt;
    width: 70%;
    cursor: pointer;
}

.btn_add_numeros:disabled {
    background-color: var(--cinza-escuro);
    cursor: not-allowed;
}

.btn_editar_usuario_temp {
    color: #FFF;
    background-color: var(--azul-ceu);
    border-radius: 5px;
    /* padding: 3px; */
    /* font-size: 13pt; */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.numeros_usuario_temp_container {
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    margin-bottom: 10px;
    /* padding-right: 10px; */
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.lista_expandida {
    height: 110px;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 110px;
    overflow-y: scroll;
    align-items: baseline;
    padding: 10px;
}

.numeros_usuario_temp_ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: hidden;
    /* padding-top: ; */
}

.label_numero_usuario_temp {
    color: #FFF;
    font-weight: 600;
}

.numero_usuario_temp {
    background-color: #FFF;
    /* padding: 8px; */
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    border-radius: 8px;
    color: #000;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.campo_usuario_temporario_ativo {
    background-color: rgb(233, 98, 9);
    color: #FFF;
    height: 40px;
    width: calc(fit-content + 20px);
}

.form_container {
    display: flex;
    flex-direction: column;
    min-height: 180px;
    position: relative;
    width: 95%;
}

.btns_confirm {
    color: #FFF;
    background-color: var(--azul-ceu);
    font-weight: 700;
    border-radius: 5px;
    padding: 3px;
    font-size: 13pt;
    width: 45%;
    cursor: pointer;
}

.btn_deletar {
    background-color: rgb(241, 36, 36);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#card-1,
#btns_padrao-1 {
    visibility: hidden;
    position: absolute;
}

.legenda_sorteio {
    font-family: var(--fonte-primaria);
    font-size: 15pt;
}

.card_sorteio {
    background-color: var(--azul-claro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    height: 250px;
    border: 2px solid #000;
    width: 50%;
    min-width: 400px;
    border-radius: 20px;
    box-shadow: #000 1px 1px 2px;
    padding-inline: 5%;
    display: none;
    margin-bottom: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sorteio_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30%;
}

.delete_edit {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    /* width: 100px; */
}

.actions_usuario_temp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.btn_menu_hamburguer {
    position: fixed;
    right: 30px;
    z-index: 2;
    cursor: pointer;
    display: none;
    background-color: transparent;
}

.menu_hamburguer {
    height: 300px;
    position: fixed;
    right: 20px;
    width: 200px;
    top: 80px;
    background-color: #fff;
    display: none;
    z-index: 2;
    padding: 20px 0;
    box-shadow: 1px 1px 2px #000;
    border-radius: 20px;
}

.menu_hamburguer .ul_nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn_aside {
    position: absolute;
    left: 30px;
    top: 17vh;
}

.btn_actions_rifa {
    flex-grow: 1;
}

 #menu_rifas_compradas {
    position: fixed;
    top: 10vh;
    left: 50%; /* Joga o início do elemento no meio da tela */
    transform: translateX(-50%); /* Puxa o elemento de volta metade do próprio tamanho, centralizando-o */
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    
    /* Responsividade inteligente */
    width: 90vw; /* Ocupa quase a tela toda em celulares */
    max-width: 500px; /* Não passa de 500px em telas grandes */
    
    height: 130px;
    display: flex;
    padding: 30px;
    overflow-x: auto;
    overflow-y: visible;
}

#menu_rifas_compradas::-webkit-scrollbar,
.lista_numeros_comprados::-webkit-scrollbar {
    border-radius: 5px;
    background-color: #edeff1;
    height: 8px;
    margin: 2px;
}

#menu_rifas_compradas::-webkit-scrollbar-thumb,
.lista_numeros_comprados::-webkit-scrollbar-thumb {
    background-color: #797a7a;
    border-radius: 10px;
    height: 10px;
}

.menu_numeros_comprados {
    position: fixed;
    top: 28vh;
    /* left: 40vw; */
    left: 37.5vw;
    width: 25vw;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    min-width: 250px;
}

.lista_rifas_compradas,
.lista_numeros_comprados {
    height: 100%;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.lista_numeros_comprados {
    gap: 20px;
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    padding: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    /* overflow-x: scroll; */
}

.numeros_comprados {
    cursor: default;
    font-weight: 600;
}

.numero_sorteado_container {
    position: fixed;
    top: 28vh;
    left: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 5vw;
    height: 5vw; */
    width: 72px;
    height: 72px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

.numero_sorteado_div {
    font-family: var(--fonte-primaria);
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    border-radius: 10px;
    /* width: 70%;
    height: 70%; */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_deletar_form {
    height: 100%;
    display: flex;  
    flex-direction: column;
    transition: .8s;
}

.btn_deletar:hover{
    transform: scale(1.05);
    background-color: #555353;
}

.data_container{
    width: 30%;
    height: 100%;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1vw;
    transform: translateX(-30px);
}

.data_deletar_container{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* padding-right: 1vw; */
    align-items: flex-end;
}

.rifas_compradas_sorteadas {
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.rifas_compradas_li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.rifas_compradas {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 1em;
    max-width: 200px;
    min-width: 200px;
}

.nav_links.rifas_compradas {
    height: 40px;
    background-color: #c7ccd1;

}

.numero_sorteado {
    font-family: var(--fonte-primaria);
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}

.vencedor {
    background-color: rgb(13, 190, 13) !important;
    color: #000;
}

.perdedor {
    background-color: rgb(231, 24, 24) !important;
    color: #fff;
}


.desativado {
    display: none !important;
}

.required_cadastro {
    position: absolute;
    right: 6px;
    top: 56px;
    font-size: 18px;
    font-weight: bold;
}

.required_cadastro_login {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 18px;
    font-weight: bold;
}

.email_telefone_container {
    background-color: #d3d3d3;
    width: 100%;
    padding: 30px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.popup_erro {
    border-bottom: 5px solid var(--vermelho-primario);
    border-radius: 20px;
    box-shadow: 2px 0 4px #000;
    /* box-shadow: 2px 4px 2px #000; */
    width: 60%;
    padding: 50px 0;
    position: fixed;
    z-index: 1;
    background-color: #f0f8f6;
    top: 20px;
    display: flex;
    justify-content: center;
}

#numero_de_letras {
    position: absolute;
    right: 10px;
    top: 70px;
    color: var(--texto-secundario);
    font-size: 1.3em;
    font-family: var(--fonte-primaria);
}

.legenda_popup {
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

#popup_login {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 0 4px #000;
    width: 50vw;
    min-width: 350px;
    height: 40vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 25vw;
    top: 30vh;
    z-index: 1;
    padding: 20px;
}

.login_popup {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_sorteio {
    display: none;
    width: 50vw;
    height: 50vh;
    position: fixed;
    left: 25vw;
    top: 25vh;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 2px 0 4px #000;
    z-index: 2;
}

#roleta_sorteio_container{
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* width: 60vw;
    height: 60vh; */
    width: 40vw;
    height: 40vh;
    position: fixed;
    right: 5vw;
    top: 5vh;
    border-radius: 30px;
    background-image: linear-gradient(135deg, var(--amarelo-primario) 40%, var(--vermelho-primario));
    box-shadow: 2px 0 4px #000;
    z-index: 3;
}

#numero_sorteio{
    width: 20vw;
    height: 20vh;
    border-radius: 15px;
    box-shadow: 3px 1px 5px #000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-size: 5em;
    font-weight: 700;
}

.infos_local_data{
    display: flex;
    gap: 10px;
    align-items: center;
}

.infos_local_data p{
    font-weight: bold;
    font-size: 1.2rem;
}

.infos_local_data_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 1vw;
    bottom: -5%;
    padding-bottom: 10px;
}

.resultado{
    display: inline;
    padding: .4vw;
    font-size: 1em;
}