@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

:root {
    --fonte-primaria: "Inter", sans-serif;
    --headlines: 700;
    --buttons: 600;
    --body-text: 500;

    --vermelho-primario: #FF3300;
    --amarelo-primario: #FFD700;
    --laranja-secundario: #FF6B35;
    --verde-suporte: #4CAF50;

    --fundo-principal: #fff;
    --fundo-sub: #F5F5F5;
    --azul-claro: #E3F2FD;
    --cinza-escuro: #212529;

    --texto-primario: #212529;
    --texto-secundario: #6C757D;
    --texto-link: #FF3300;

    --btn-hover: #E53900;
    --btn-cta: #FF3300;
    --btn-cta-hover: #E53900;
    --link-hover: #FF6B35;

    --azul-ceu: #4A90E2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.desativado {
    display: none;
}

#nav {
    background-color: var(--fundo-principal);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding-inline: 30px;
}

.ul_nav {
    display: flex;
    gap: 30px;
}

.ul_nav li {
    list-style-type: none;
}

.nav_links {
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--texto-primario);
    font-size: 14pt;
    cursor: pointer;
}

.btn_nav {
    color: var(--fundo-principal);
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    background-color: var(--vermelho-primario);
    padding: 6px;
    padding-inline: 25px;
    font-size: 14pt;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
    color: var(--vermelho-primario);
    font-family: var(--fonte-primaria);
    font-weight: 800;
    font-size: 20pt;
}


#hero {
    background-color: var(--azul-claro);
    width: 100%;
    height: 50vh;
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    color: var(--vermelho-primario);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 25pt;
}

p {
    font-family: var(--fonte-primaria);
    letter-spacing: 1px;
    font-size: 12pt;
    text-align: justify;
    width: 400px;
}

.white {
    background-color: #fff;
    color: var(--vermelho-primario);
    outline: 2px var(--vermelho-primario) solid;
}

.hero_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
}

.hero_content div {
    display: flex;
    gap: 30px;
}

#diferencial {
    background-color: var(--fundo-principal);
    padding-inline: 30px;
    height: 40vh;
}

.subtitulo {
    color: var(--cinza-escuro);
    font-size: 25pt;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#cards_diferencial_container {
    display: flex;
    justify-content: space-evenly;
}

.card_diferencial {
    background-color: var(--azul-claro);
    width: 24%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_diferencial h3 {
    font-family: var(--fonte-primaria);
    color: var(--cinza-escuro);
    text-align: center;
}

.card_diferencial p {
    text-align: center;
    font-size: 10pt;
    width: 90%;
}

#main {
    background-color: var(--azul-claro);
    padding-inline: 30px;
    padding-bottom: 40px;
    padding-top: 40px;
    min-height: 100vh;
}

.cards_rifa_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rifas {
    margin-bottom: 25px;
    width: 30vw;
    height: 200px;
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    ;
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    box-shadow: #000 1px 1px 5px;
}

.rifas_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 60px;
}

.premio_rifa {
    font-weight: 700;
    color: var(--cinza-escuro);
    padding-left: 30px;
    font-size: 12pt;
    text-transform: capitalize;
}

.valor_rifa {
    font-weight: 700;
    color: var(--vermelho-primario);
    padding-left: 30px;
    font-size: 14pt;
    text-transform: capitalize;
}

#footer {
    background-color: var(--cinza-escuro);
    height: 300px;
    padding-top: 50px;
}

#footer_content {
    display: flex;
    padding-inline: 30px;
}

.article_footer {
    width: 22vw;
}

.article_footer p {
    color: #fff;
    font-size: 10pt;
}

.titulo_footer {
    color: var(--amarelo-primario);
    font-weight: 600;
    font-family: var(--fonte-primaria);
    font-size: 11pt;
}

.txt_secundario {
    color: var(--texto-secundario);
    font-size: 15pt;
    text-align: center;
}

.label_login {
    color: var(--cinza-escuro);
    font-size: 16pt;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    text-transform: uppercase;
}

#body_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.form_login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    padding: 50px 0;
    gap: 15px;
}

.input_login {
    background-color: var(--azul-claro);
    height: 60px;
    border-radius: 10px;
    border: 2px solid rgba(66, 43, 43, 0.133);
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
}

.btn_form {
    height: 65px;
    border-radius: 10px;
    background-image: linear-gradient(-135deg, var(--vermelho-primario), orange);
    color: #fff;
    font-size: 16pt;
    font-family: var(--fonte-primaria);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    cursor: pointer;
}

.div_campo_login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 120px;
    justify-content: space-around;
}

.txt_left {
    text-align: center;
}

.link {
    color: var(--vermelho-primario);
    text-decoration: none;
    font-weight: 700;
}

.btn_fechar {
    font-size: 20pt;
    width: 40px;
    height: 40px;
    background-color: rgb(236, 36, 36);
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    border: 1px solid #000;
}

.btn_fechar:hover {
    transform: scale(1.1);
    font-size: 21pt;
}

.espaco_numeros {
    background-color: var(--azul-claro);
    width: 95%;
    max-height: 400px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    overflow-y: scroll;
    border-radius: 15px;
    box-shadow: #000 1px 2px 3px;
}

.numero {
    background-color: #fff;
    width: 45px;
    height: 45px;
    list-style-type: none;
    border-radius: 5px;
    font-family: var(--fonte-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    box-shadow: #000 1px 2px 2px;
    cursor: pointer;
}

.numero_disponivel:hover {
    transform: scale(1.1);
}

.numero_selecionado {
    background-color: var(--vermelho-primario);
    transform: scale(1.1);
    border-radius: 1px;
}

.numero_vendido {
    background-color: #e91111ff;
    cursor: not-allowed;
}

.rifa_aberta {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1100px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-top: 60px;
    gap: 30px;
}

.rifa_aberta form {
    width: calc(100% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.numeros_rifa_vendidos {
    display: none;
}

.numeros_rifa_disponiveis {
    position: absolute;
    visibility: hidden;
}

.lista_numeros_container {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    ;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.lista_numeros_usuario {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    /* justify-content: center; */
}

.numeros_usuario {
    list-style-type: none;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 16pt;
    color: var(--cinza-escuro);
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
}

.label_lista_numeros {
    font-weight: 600;
    font-size: 18pt;
    color: var(--cinza-escuro);
    text-transform: uppercase;
    color: #fff;
}

.container_btn_rifa {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.btn_nav:disabled {
    background-color: var(--texto-secundario);
    color: var(--azul-claro);
    cursor: not-allowed;
    outline: 0;
}

.input_valor_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    background-color: var(--azul-claro);
    height: 170px;
    width: 100%;
    border-radius: 20px;
    box-shadow: #000 1px 2px 3px;
}

.input_login:disabled {
    background-color: var(--texto-secundario) !important;
}

.lista_privacidade {
    height: 60px;
    margin-bottom: 15px;
    margin-right: 100px;
}

.lista_privacidade li {
    list-style-type: none;
    font-family: var(--fonte-primaria);
    font-size: 15pt;
}

.div_duplo_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 30px; */
}

.div_duplo_input input:not([type=radio]) {
    min-width: 300px;
}

.btn_carregar_imagem {
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    width: 200px;
    margin-right: 100px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-primaria);
    color: #FFF;
    font-size: 15pt;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

.btn_carregar_imagem:hover {
    transform: scale(1.05);
}

.tipo_de_valor {
    display: none;
}

.btn_radio {
    font-family: var(--fonte-primaria);
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    color: #FFF;
    border-radius: 5px;
    font-size: 15pt;
    font-weight: 500;
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-transform: capitalize;
}

#valor_numeros,
#valor_total {
    background-color: #FFF;
}

#header_galeria {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_voltar {
    position: absolute;
    left: 40px;
}

.btn_encerrar_venda {
    background-color: #F00;
    color: #FFF;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    padding: 15px;
    font-size: 15pt;
    border-radius: 5px;
}

.label_cadastro_rifa {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 14pt;
}

.card_cadastro {
    background-color: var(--azul-claro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
    height: 170px;
    width: 40vw;
    border-radius: 20px;
    box-shadow: #000 1px 1px 2px;
    gap: 10px;
    margin-bottom: 30px;
}

.card_cadastro div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.btn_cadastro {
    font-size: 12pt;
    padding-inline: 5px;
}

.input_usuario_temp {
    border-radius: 5px;
    font-size: 14pt;
    height: 40px;
    width: 18vw;
    box-shadow: #000 1px 1px 2px;
}

.btn_add_usuario {
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.label_usuario_temp {
    font-family: var(--fonte-primaria);
    font-size: 15pt;
    color: var(--texto-secundario);
}

.nome_usuario_temp{
    background-color: transparent;
    font-weight: 700;
    padding-left: 10px;
    font-size: 14pt;
    color: var(--cinza-escuro);
    border-radius: 5px;
    width: 200px;
}

.infos_usuario_temp{
    color: var(--cinza-escuro);
    font-size: 14pt;
    font-family: var(--fonte-primaria);
    padding-left: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 200px;
}

.cards_usuarios_temp_container {
    display: flex;
    flex-direction: column;
    background-color: #F00;
}

.card_dourado {
    background-image: linear-gradient(135deg, var(--amarelo-primario) 40%, var(--vermelho-primario));
    height: 250px;
    width: 190px;
    border-radius: 20px;
    margin-right: 300px;
    transform: rotate(5deg);
    box-shadow: #0008 2px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legenda_hero {
    color: #FFF;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #0008 1px 1px 2px;
}

.espaco_usuarios_temp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* height: 400px; */
    align-items: center;
    overflow-y: scroll;
    /* background-color: #000 !important; */
}

.card_comprados {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    gap: 40px;
    background-color: transparent;
}

.card_vendas {
    height: 230px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 15px;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: #000 1px 2px 2px;
    width: 400px;
}

.usuario_temp_container {
    display: flex;
    border-bottom: 1px solid var(--texto-secundario);
    height: 55px;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

.btn_add_numeros {
    color: #FFF;
    background-color: var(--azul-ceu);
    font-weight: 700;
    border-radius: 5px;
    padding: 3px;
    font-size: 13pt;
    min-width: 200px !important;
    width: 200px;
    cursor: pointer;
}

.btn_add_numeros:disabled {
    background-color: var(--cinza-escuro);
    cursor: not-allowed;
}

.btn_editar_usuario_temp{
    color: #FFF;
    background-color: var(--azul-ceu);
    border-radius: 5px;
    padding: 3px;
    font-size: 13pt;
    min-width: 40px !important;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.numeros_usuario_temp_container{
    background-image: linear-gradient(135deg, var(--vermelho-primario), var(--amarelo-primario));
    margin-bottom: 10px;
    padding-right: 10px;
}

.numeros_usuario_temp_ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.label_numero_usuario_temp{
    color: #FFF;
    font-weight: 600;
}

.numero_usuario_temp{
    background-color: #FFF;
    padding: 8px;
    border-radius: 8px;
    color: #000;
    font-family: var(--fonte-primaria);
    font-weight: 600;
}

.campo_usuario_temporario_ativo{
    background-color: rgb(233, 98, 9);
    color: #FFF;
    height: 40px;
}